.wrapper {
  width: 100%;
}
.container {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile {
  width: 48px;
  margin-right: 15px;
}
.profile img {
  width: 100%;
  height: 48px;
  border-radius: 50%;
}

.details {
  width: calc(100% - 48px - 15px - 48px - 15px);
}
.title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #030303;
}

.info {
  display: none;
}
.count {
}
.count_item {
}
.count span {
}
.desc {
}

.right {
  width: 48px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right .icon {
  font-size: 16px;
  color: #030303;
}

@media screen and (min-width: 1024px) {
  .wrapper {
  }
  .container {
  }
  .content {
    align-items: flex-start;
  }
  .profile {
    width: 136px;
    margin-right: 100px;
  }
  .profile img {
    width: 100%;
    height: 136px;
  }
  .details {
    width: calc(100% - 136px - 100px - 136px - 100px);
    padding-top: 20px;
  }
  .title {
    /* display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #030303; */
  }
  .info {
    display: block;
    color: #030303;
  }
  .count {
    display: flex;
  }
  .count_item {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #606066;
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
  }
  .count_item:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .count_item::after {
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #030303;
    margin: 0 10px;
    display: block;
    position: absolute;
    top: 7px;
    right: -12px;
  }
  .count_item:last-child:after {
    display: none;
  }
  .count span {
  }
  .desc {
    color: #606066;
    word-break: break-word;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    max-height: 36px;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
  }
  .right {
    width: 136px;
    margin-left: 100px;
  }
  .right .icon {
    /* font-size: 16px;
    color: #030303; */
  }
}
