.wrapper {
  position: relative;
  margin-bottom: 24px;
}
.content {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
.inner {
  width: 100%;
  margin: 0;
  display: block;
  position: relative;
}
.media {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.thumb {
  display: block;
  width: 100%;
  position: relative;
}
.thumb::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc(56.25% + 13px);
  background-color: rgba(0, 0, 0, 0.1);
}
.thumb img {
  height: 100%;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.details {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.avatar {
  display: block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 12px;
  margin-right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.meta {
  overflow: hidden;
  width: calc(100% - 48px);
}
.meta_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.title {
  display: block;
  width: calc(100% - 40px);
}
.title h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #030303;
  line-height: 18px;
  font-weight: 500;
  max-height: 44px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* display: box; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 12px 0 3px 0;
}
.popup_button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0;
  top: 4px;
}
.popup_button .icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.popup_ref {
  position: absolute;
  top: -16px;
  right: 8px;
  width: 40px;
  height: 56px;
  visibility: hidden;
}
.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  opacity: 0.6;
  color: #030303;
}
.top {
  margin-right: 0;
  font-size: 12px;
  line-height: 18px;
  position: relative;
}
.top::after {
  content: "•";
  margin: 0 4px;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;
}
.bottom span {
  position: relative;
  display: flex;
}
.bottom span:nth-child(2) {
  display: none;
}

@media screen and (min-width: 392px) {
  .wrapper {
  }
  .details {
  }
}

@media screen and (min-width: 588px) {
  .details {
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    margin-bottom: 8px;
  }
  .media {
    flex-direction: row;
  }
  .thumb {
    width: 168px;
  }
  .details {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 168px);
    padding-right: 24px;
    padding-left: 8px;
    margin: 0;
  }
  .avatar {
    display: none;
  }
  .meta {
    width: 100%;
  }
  .title {
    width: calc(100% - 24px);
  }
  .title h3 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 4px;
  }
  .popup_button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
  }
  .wrapper:hover .popup_button,
  .popup_button.active {
    visibility: visible;
    opacity: 1;
  }
  .popup_ref {
    position: absolute;
    top: -16px;
    right: 8px;
    width: 40px;
    height: 56px;
    visibility: hidden;
  }

  .metadata {
    flex-direction: column;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    opacity: 1;
    color: #606060;
  }
  .top {
    margin-right: 0;
  }
  .top::after {
    display: none;
  }
  .bottom span:nth-child(1)::after {
    content: "•";
    margin: 0 4px;
  }
  .bottom span:nth-child(2) {
    display: flex;
  }
}
