.wrapper {
  width: 100%;
}
.columns {
  width: 100%;
  max-width: 1754px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.primary {
  position: relative;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.primary_inner {
}
.player {
  padding-top: 56.25%;
  position: fixed;
  top: 48px;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
.player_outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.player_inner {
  width: 100%;
  height: 100%;
}
.player_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.player_container iframe {
  width: 100%;
  height: 100%;
}
.mini_btn {
  display: none;
}

.detail {
}
.title_area {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title_area_left {
  width: calc(100% - 24px);
}
.title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  /* display: box; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  color: #030303;
  font-variant: inherit;
  word-break: break-word;
  -webkit-line-clamp: initial;
  max-height: none;
  margin-bottom: 3px;
}
.meta_area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.meta_left {
  width: 100%;
  display: flex;
  align-items: center;
}
.meta {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #606060;
  line-height: 16px;
}
.meta span {
}
.meta span::after {
  content: "•";
  margin: 0 4px;
}
.meta span:last-of-type::after {
  display: none;
}

.meta_right {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.actions {
  display: flex;
}
.action {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.action .icon {
  font-size: 24px;
  padding: 6px;
}
.action span {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #030303;
  line-height: 40px;
}
.title_area_right {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.title_area_right .icon {
  width: 24px;
  height: 24px;
}
.desc_area {
}
.channel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.avatar {
  width: 34px;
  height: 34px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
}

.c_title {
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  line-height: 18px;
}

.description {
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  display: block;
  white-space: pre-wrap;
  padding-top: 12px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 16px;
}

.description p {
  word-break: break-all;
}

.description p a {
  color: #065fd4;
}

.secondary {
  width: 100%;
  padding-top: 12px;
}
.secondary_inner {
  width: 100%;
}
.secondary_inner .more_item {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #030303;
  margin-bottom: 12px;
  padding: 0 12px;
}
.related_container {
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.related_item {
  width: 100%;
}

@media screen and (min-width: 550px) {
  .title_area {
    padding: 16px 16px 6px 16px;
  }
  .channel {
    padding: 12px 16px;
  }
  .description {
    padding: 16px;
  }
  .secondary_inner .more_item {
    padding: 0 16px;
  }
  .related_container {
    padding: 0 8px;
  }
  .related_item {
    width: 50%;
    padding: 0 8px;
  }
}

@media screen and (min-width: 768px) {
  .related_item {
    width: 33.33%;
  }
}

@media screen and (min-width: 1024px) {
  .columns {
    max-width: 1754px;
    display: flex;
    flex-direction: row;
  }
  .primary {
    max-width: 1282px;
    padding-right: 24px;
    padding-top: 24px;
    margin-left: 24px;
    width: calc(100% - 426px);
  }
  .player {
    position: relative;
    top: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mini_btn {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 36px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 4px;
  }
  .mini_btn .mini_icon {
    font-size: 21px;
    color: #fff;
  }

  .title_area {
    padding: 20px 0 8px 0;
  }
  .title_area_left {
    width: 100%;
  }
  .title_area_right {
    display: none;
  }
  .title {
    max-height: 52px;
    line-height: 26px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-bottom: 0;
  }
  .meta {
    font-size: 14px;
    line-height: 20px;
  }
  .channel {
    padding: 0;
    margin-top: 12px;
    border-bottom: none;
  }
  .avatar {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  .c_title {
    font-weight: 500;
    color: #030303;
    font-size: 14px;
    line-height: 20px;
  }
  .description {
    padding-left: 64px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .secondary {
    padding-top: 24px;
    width: 426px;
    margin-top: 0;
    border-top: none;
  }
  .secondary_inner .more_item {
    padding: 0;
  }
  .meta_left,
  .meta_right {
    width: auto;
  }
  .related_container {
    padding: 0;
  }
  .related_item {
    width: 100%;
    padding: 0;
  }
}

/* comments */
.comments_wrap {
}
.comment_title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 48px;
}
.comment_title {
  padding: 12px 12px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #030303;
}
.comment_icon {
  width: 24px;
  height: 24px;
}
.comment_icon .icon {
  width: 16px;
  height: 24px;
}
.comments_content {
}

.comments {
}
.comments_item {
  display: flex;
  padding: 20px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.comments_item:last-child {
  border-bottom: none;
}
.comments_avatar {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: 0;
}
.comments_avatar img {
  width: 100%;
  height: 100%;
}

.comments_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 8px;
  width: calc(100% - 48px);
}
.comment_top {
  display: flex;
  justify-content: space-between;
}
.comment_top h2 {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #030303;
  display: inline-block;
  font-size: 12px;
  word-wrap: break-word;
  color: #606060;
}
.comment_top p {
  color: #606060;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 4px;
  color: #606060;
}

.comment {
}
.comment p {
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  overflow: hidden;
  word-wrap: break-word;
  margin: 4px 0;
  line-height: 18px;
}

.comment_bottom {
  display: flex;
}
.comment_action {
  display: flex;
}
.comment_action .c_icon {
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment_action .icon {
  width: 16px;
  margin-right: 4px;
  margin-bottom: 2px;
  height: 16px;
}
.comment_action .icon span {
  color: #606060;
  font-size: 11px;
  line-height: 16px;
}

@media screen and (min-width: 1024px) {
  .comment_title_area {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    height: auto;
  }
  .comment_title {
    padding: 24px 0 24px 0;
    border-bottom: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .comment_icon {
    display: none;
  }
  .comments_item {
    padding: 0;
    border-bottom: none;
    margin-bottom: 16px;
  }
  .comments_item:last-child {
    margin-bottom: 0;
  }
  .comments_avatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  .comments_detail {
    padding: 0;
    width: calc(100% - 40px - 16px);
  }
  .comment_top {
    justify-content: flex-start;
  }
  .comment_top h2 {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #030303;
    margin-right: 6px;
  }
  .comment_top p {
    margin-right: 0;
  }

  .comment {
  }
  .comment p {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
  }

  .comment_bottom {
  }
  .comment_action {
  }
  .comment_action .c_icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .comment_action .icon {
    width: 16px;
    margin-right: 4px;
    margin-bottom: 2px;
    height: 16px;
  }
  .comment_action .icon span {
    color: #606060;
    font-size: 11px;
    line-height: 16px;
  }
}

/* description modal */
.desc_title {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  width: calc(100% - 24px);
  margin: 0 auto;
}
.desc_title h2 {
  padding: 4px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

/* responsive */
.show_on_web {
  display: none;
}
.show_on_mobile {
  display: block;
}

@media screen and (min-width: 1024px) {
  .show_on_web {
    display: block;
  }
  .show_on_mobile {
    display: none;
  }
}

/* expandable */
.expandable {
  height: 100px;
  overflow: hidden;
  position: relative;
}
.expandable.expanded {
  height: auto;
}
.expandable_text {
}
.expandable_btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 16px;
}
.expandable_btn button {
  color: #606060;
  display: block;
  margin-top: 8px;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.expandable.expanded .expandable_btn {
  position: relative;
}
