.wrapper {
}
.channel_info {
}
.tabs {
  display: flex;
  justify-content: space-between;
}
.tab {
  padding: 10px 12px;
  color: #030303;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.banner {
  margin-bottom: 20px;
}
.banner img {
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar {
  margin-bottom: 10px;
}
.avatar img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
}
.status {
}

.count {
  display: flex;
}
.count_item {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #606066;
  position: relative;
  margin-right: 8px;
  padding-right: 8px;
}
.count_item:last-child {
  margin-right: 0;
  padding-right: 0;
}
.count_item::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #030303;
  margin: 0 10px;
  display: block;
  position: absolute;
  top: 7px;
  right: -12px;
}
.count_item:last-child:after {
  display: none;
}
.count span {
}
.desc {
  color: #606066;
  word-break: break-word;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  max-height: 36px;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
}

.container {
}
.uploads {
}
.uploads_title {
  font-weight: 500;
  padding: 12px;
}
.uploads_content {
}
