.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.link {
  padding: 8px 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.link.active {
}
.link.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #333;
}
.text {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}
.link.active .text {
  font-weight: 500;
  color: #333;
}
